
.current-day {
    display:flex;
    justify-content: space-around;
    .current-name-and-temp{
        color: #b8bccb;
        font-size: 32px;
        margin: 5% 0 0 10% ;
      
        .current-name {
            margin-bottom: 20px;
        }
        .current-temp {
            font-size: 40px;
            font-weight: bold;
        }
    }
    .current-icon {
        img {
        width: 157px;
        height: auto;
        }
       
    }
    
}
.current-day-times{
    display: flex;
    justify-content: space-around;
    .times{
        color:white;
    }

    .current-day-details{
        align-items: center;
    }
    .icon{
        color: white;
    }
    .temp {
        color: white;
    }

   
}
.weather-details{
 color:white;
 display: flex;
 div{
     margin: 5px;
 }       
}
.home-button {
    text-align: center;
    button{
        background: #2a66d7;
        padding: 10px;
        
    font-size: 32px;
    color: white;
    border-radius: 20px;
    }
}