<!-- <p>display-information works! {{dataid}}</p>
<a (click)="prev()">prev</a>
<a (click)="next()">next</a> -->

<div class="cont">
 
  <div class="current-day">
    <div class="current-name-and-temp">
      <div class="current-name">
        {{weatherDatainfo?.city.name}}
      </div>
      <div class="current-temp">
        <span *ngIf="(weatherDatainfo?.list[dataid*8].main.temp - 273.15) > 0">+</span>
        {{(weatherDatainfo?.list[dataid*8].main.temp - 273.15)| number: 2.0-2}}

      </div>
    </div>
    <div class="current-icon">
      <img src="http://openweathermap.org/img/wn/{{weatherDatainfo?.list[dataid*8].weather[0].icon}}@2x.png" alt="Smiley face">
    </div>
  </div>
  <button routerLink = "">home</button>