<!-- <button (click)="geticon()">test</button> -->

<!-- <app-weather-information></app-weather-information> -->
<div (click)='showModal()' class="search-button">
  <!-- <button class= "search-button">search</button> -->
  <a >search</a>
</div>

<app-country-search [ngStyle]="{'display':display}" (getSelectedCity)='getLocationData($event)' ></app-country-search>

<div class="cont">
 
  <div class="current-day">
    <div class="current-name-and-temp">
      <div class="current-name">
        {{weatherData?.city.name}}
      </div>
      <div class="current-temp">
        <span *ngIf="(weatherData?.list[0].main.temp - 273.15) > 0">+</span>
        {{(weatherData?.list[0].main.temp - 273.15)| number: 2.0-2}}

      </div>
    </div>
    <div class="current-icon">
      <img src="http://openweathermap.org/img/wn/{{weatherData?.list[0].weather[0].icon}}@2x.png" alt="Smiley face">
    </div>
  </div>
  <div class="other-days">
    <div class="next-day"  *ngFor="let i of t">
      <a  (click)="onselect(i)">?</a>
      <div class="other-day-name">
        {{days[(currentDate.getDay()+i+1) % 7]}}
      </div>
      <div class="other-day-icon">
        <img src="http://openweathermap.org/img/wn/{{weatherData?.list[i*8].weather[0].icon}}@2x.png" alt="Smiley face"
          width="50px">
      </div>
      <div class="other-day-temp">
        {{(weatherData?.list[i*8].main.temp - 273.15)| number: 2.0-2}}

      </div>
    </div>

  </div>

</div>