.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    .form-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 2px #848ce6;
        border-radius: 20px;
  
    }
    hr {
        border-bottom: solid white 2px;
    }
    img {
        width: 140px;
        height: 110px;
    }
    
    div{
        margin: 10px;
        color: white;
    }
    
}
.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        background-color: #358dd7;
        height: 32px;
        width: 100px;
        color: white;
        font-size: 20px;
        border-radius: 15px;
        margin-top: 10px;
    }
    button:hover{
        background-color: #48d735;
    }
}

.form-feiled {

    color:red;
}