.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    form {
        border: solid 2px #848ce6;
    border-radius: 20px;
    }
    div{
        margin: 10px;
        color: white;
    }
    
}
.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-feiled {

    color:red;
}