<div class="container">
    <div class="form-part">
        <div class="logo">
            <img src="../../../../assets/logo.png">
        </div>
      
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <!-- {{loginForm.value | json}} -->
        <div>Email</div>
        <div  class="form-feiled">
            <input type="email" #email="ngModel" name="userEmail" [class.is-not-valid]="email.invalid && email.touched" [email]="true" [(ngModel)]="loginData.email" required>
        </div>
        
        <small class="error" [class.hide]="email.valid || !email.touched">the email is required</small>

        <div>password</div>
        <div class="form-feiled">
            <input type="password" #password="ngModel" name="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{5,11}" [class.is-not-valid]="password.invalid && password.touched" [(ngModel)]="loginData.password" required>
        </div>
        <small class="error" [class.hide]="password.valid || !password.touched">the password is required</small>
        <div class="submit-button">
            <button type="submit"> Login</button>
        </div>
       
    
        </form>
    </div>
    
</div>